.welcome-container {
    border: 3px solid black;
    background: skyblue;
    padding: 10px;
}

.registration-container {
    border: 3px solid black;
    background: gray;
}

.error {
    color: red;
}

#profilepic {
    height: 150px;
    width: 150px;
}
