* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.welcome-container {
    border: 3px solid black;
    background: skyblue;
    padding: 10px;
}

.registration-container {
    border: 3px solid black;
    background: gray;
}

.error {
    color: red;
}

#profilepic {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    margin-right: 20px;
    /* float: right; */
}

.bigpic #profilepic {
    height: 250px;
    width: 250px;
}

.bigpic {
    float: left;
    padding: 50px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
}

.logo-container {
    border-radius: 15px;
    margin-left: 20px;
}

.nav {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.firstlast {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

#firstlast {
    margin-right: 20px;
}

#firstlast2 {
    margin-left: 20px;
}
.uploader {
    background-color: #65688a;
    display: inline-block;
    text-align: center;
    justify-content: center;
    right: 600px;
    padding: 20px;
    position: absolute;
    border-radius: 14px;
    z-index: 9999;
    transition-delay: 1s;
    transform: translateX(33%);
    background-color: rgba(101, 104, 138, 0.87);
}
